* {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style-type: none;
}
body {
  background-color: #fcfcfd;
}
a,
a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
header {
  border-bottom: 1px solid #605d5c;
  color: #222222;
}
nav {
  width: 100%;
  display: flex;
}
nav h1 {
  font-size: 2rem;
  font-style: italic;
  margin: 1% 3%;
}
nav ul {
  display: flex;
  justify-content: space-around;
  margin: 1% auto;
  font-size: 2.5rem;
  width: 60%;
  flex-wrap: wrap;
}

.start {
  width: 100vw;
  height: 100vh;
  background-image: url(".\assets\pink2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding-left: 5vw;
}

.start h2 {
  font-size: 7rem;
  text-shadow: 1px 1px 1px grey;
  margin: 0;
  padding-top: 15vh;
  font-weight: lighter;
  font-style: italic;
  max-width: 80%;
}
.start p {
  font-size: 2.5rem;
  font-weight: lighter;
  text-shadow: 1px 1px 1px grey;
}

.start h2,
.start p,
.start button,
.start div,
.start span,
.momentum h2,
.momentum p,
.momentum button,
.momentum img {
  background: none;
}
button {
  border: 0;
  outline: 0;
}
.services,
.coupon {
  background-color: #222222;
  outline: 0;
  border: 0;
}

.start .services {
  background-color: rgba(0, 0, 0, 0.5);
  width: 130px;
  height: 35px;
  border-radius: 3px;
  color: white;
}
.start .services a {
  color: white;
  font-size: 1.4rem;
  font-weight: lighter;
  text-align: center;
  border-left: 2px solid silver;
  padding-left: 15px;
  text-shadow: 0.5px 0.5px 0.5px silver;
}

.start .coupon {
  height: 190px;
  width: 190px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 3px;
}

.start .coupon > p {
  font-size: 1.3rem;
  padding: 20px 20px 10px;
  margin-left: 1.5px;
}

.start .coupon > p + p {
  padding-top: 0;
  margin-top: 0;
  font-size: 1.5rem;
}
.start .coupon span {
  font-size: 2.5rem;
  font-weight: bolder;
  margin-right: 5px;
}
.start .coupon .book {
  background-color: rgba(250, 250, 250, 0.8);
  height: 35px;
  width: 100px;
  color: black;
  margin-left: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 3px;
}

.focuses {
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
  padding-top: 50px;
  flex-wrap: wrap;
}
.focus {
  width: 25%;
  text-align: center;
  line-height: 2.4rem;
}
.focus i {
  font-size: 5rem;
  border: 50px solid rgba(241, 239, 238, 0.3);
  background-color: rgba(241, 239, 238, 0.3);
  box-shadow: 4px 4px 4px rgba(241, 239, 238, 1);
  border-radius: 100px;
  color: #222222;
}
.focus h3 {
  font-size: 2rem;
  font-weight: bolder;
}

.momentum {
  font-size: 3rem;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  background-color: #f8f8f8;
  padding-bottom: 75px;
}
.momentum h2 {
  font-size: 4rem;
  font-weight: lighter;
}
.half,
img {
  background: none;
}
.half {
  margin-left: 10%;
}
.half p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 2.8rem;
  margin-right: 25px;
}
.momentum img {
  width: 45%;
  padding-right: 5%;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
}

.stylists {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stylist h3 {
  font-size: 2rem;
  text-align: center;
  font-weight: lighter;
}
.stylists .stylist .identifier p {
  font-size: 1.5rem;
  text-align: center;
}

.stylist img {
  max-height: 350px;
}
.offer h4,
.offer p,
.offer span,
.offer button,
.offer a {
  background: none;
}

.offer {
  background-image: url(".\assets\bluehair.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin: 5% 20%;
  padding: 125px 0;
  color: white;
  font-size: 3rem;
  text-shadow: 0.5px 0.5px 0.5px silver;
  flex-wrap: wrap;
}
.offer span {
  font-size: 4rem;
  font-weight: bolder;
  margin: 0 10px;
}
.offer h4 {
  margin: 10px auto;
  text-shadow: 0.5px 0.5px 0.5px grey;
  font-size: 2.5rem;
}
.offer p {
  margin: 0 auto;
  text-align: center;
}
.offer button a {
  color: white;
  font-weight: bold;
}
.offer button {
  padding: 0;
  margin: 0 10px;
}
.lookbook h2 {
  font-size: 5rem;
  font-weight: lighter;
  text-align: center;
}
.lookbook {
  background-color: #f8f8f8;
  padding-top: 50px;
}
.imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imgs img {
  margin: 25px;
  max-height: 500px;
  width: 500px;
  border-radius: 2px;
}

@media (max-width: 600px) {
  .focus {
    width: 100%;
  }
  nav li {
    flex-basis: 50%;
  }
}
@media (max-width: 360px) {
  .start {
    margin-bottom: 50px;
  }
}
@media (max-width: 1100px) {
  .momentum {
    display: flex;
    flex-wrap: wrap;
  }
  .momentum .half {
    width: 100%;
  }
  .momentum img {
    display: flex;
    flex-basis: 100%;
    width: 100%;
    padding: 0;
    padding-top: 25px;
    max-width: 80%;
  }
}
